.ToDoTask {
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    background: #DBE2EF;
    margin-bottom: 10px;
    gap: 10px;
    padding-right: 15px;

    &__label {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 12px 15px;
        cursor: pointer;
    }

    &__checkbox {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
        color: #3F72AF;
        padding-left: 15px;
    }

    &__title_done {
        text-decoration: line-through;
    }
    

    &__input_edit {
        font: 1rem/1em 'Roboto', sans-serif;
        border: none;
        padding: 5px;
        background: none;
        box-shadow: 0 4px 0 -3px #007aff
    }

    &__button_edit, &__button_remove, &__button_save {
        display: block;
        border: none;
        background: #3F72AF;
        color: white;
        padding: 0;
        cursor: pointer;
        transition: opacity 0.3s;
    }

    &__button_edit:hover, &__button_remove:hover, &__button_save:hover {
        opacity: 60%;
    }

    &__button_edit {
        background-image: url(./images/icon-edit-pencil.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
    }

    &__button_remove {
        background-image: url(./images/icon-trash.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
    }

    &__button_save {
        background-image: url(./images/check-mark.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
    }
}